<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sitôt Arts & Tech Residency Program</h2>
                    <h3 class="section-subheading text-muted">Applications begin in 2027<br>Learn how to paint personality portraits, strategies to integrate tech with art that respects human creativity, and exhibit your work!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 1:</h4>
                                    <h4 class="subheading">Designing from snapshot scores</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learn how each visual descriptor translates to paint strokes, and acquire the understanding needed to start designing your own portrait for the end of residency group exhibit.</p>
                                    <!-- button type="button" class="btn btn-default"><strong><a href="https://www.sitot.ca/#portfolio">Browse</a></strong></button -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 2:</h4>
                                    <h4 class="subheading">Different approaches to tech</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">How can we merge tech and art while respecting creativity? What differentiates tech for creatives that exploits and tech for creatives that nourishes humanity?</p>
                                    <!-- button type="button" class="btn btn-default"><strong><a href="https://form.jotform.com/251915401743251">Book</a></strong></button -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 3:</h4>
                                    <h4 class="subheading">Making ideas happen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The software world needs the perspective of traditional artists. This is a crash course with the goal to give artists the tools and understanding to engage with the world of software development with confidence. This week doubles as an incubator, especially for more seasoned developers, for your own projects and ideas that sit at the intersection of arts and tech, and will focus on opportunities to meet potential partners from diverse backgrounds to determine what is needed to get your ideas off the ground!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 4:</h4>
                                    <h4 class="subheading">Portrait presentations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Show and tell of your personality portrait made during the residency. Peer-support regarding portrait design, balancing visual descriptor results, or technical execution difficulties.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Exhibition:</h4>
                                    <h4 class="subheading">Bring friends & family, it's a gallery party!</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>