<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does commissioning a portrait work?</h2>
                    <h3 class="section-subheading text-muted">We'll be here to guide you through each step, but here's an overview so you know what to expect! 🗺</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Pick an offering:</h4>
                                    <h4 class="subheading">Curated packages or custom orders</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From learning about yourself, capturing someone special, to gifting a unique experience, our packages cover a wide range of use cases. Peruse our catalog of product offerings or contact us directly for a consultation to discuss which offering is best tailored to your desires, space requirements, or other needs.</p>
                                    <button type="button" class="btn btn-default"><strong><a href="https://www.sitot.ca/#portfolio">Browse</a></strong></button>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Book your snapshot session:</h4>
                                    <h4 class="subheading">Sitôt's guided questionnaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our snapshot session is a 20 to 45 minute appointment, virtual or in-person, where we complete a guided questionnaire together. It captures your personality at a point in time like a photograph, accurately reflecting who you are in that moment, and mapping all your facets to varying percentages of visual characteristics we call your visual descriptor profile.</p>
                                    <button type="button" class="btn btn-default"><strong><a href="https://form.jotform.com/251915401743251">Book</a></strong></button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Designing your portrait:</h4>
                                    <h4 class="subheading">Would you like a check-in?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The design process takes a few days to ensure all snapshot results' requirements are met. During this time, we offer two check-ins: one where we present the colour palette and a rough sketch of the composition, the next where we adjust the design as needed. Please note that a 100% accurate preview of the final result is not possible, since this is the nature of a hand-crafted painting. Many customers prefer a no-spoilers approach for a more powerful reveal, which we recommend! We will confirm your preferred approach with you at this stage.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. Painting begins:</h4>
                                    <h4 class="subheading">We're locked in</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once the overall creative direction is greenlit, we paint! Please allow 2 weeks to a month of turn-around time, as every canvas is custom-made with locally-sourced wood, and painted to order. To ensure archival quality, we require this time to allow for meticulous work and proper drying time for each layer that builds up to make your personality portrait.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5. Ready for pick-up or shipment!</h4>
                                    <h4 class="subheading">Carefully packaged, ready to hang</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All of our portraits are made on professional back-stapled exhibition canvases with an extra wide edge designed to eliminate framing requirements. Each completed personality portrait comes with its corresponding visual profile, certificate of authenticity, and design statement.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>