<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does commissioning a portrait work?</h2>
                    <h3 class="section-subheading text-muted">We'll be here to guide you through each step, but here's an overview so you know what to expect! 🗺</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Pick an offering:</h4>
                                    <h4 class="subheading">Which package is right for you?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Peruse our catalog of product offerings or contact us directly for a consultation to discuss which offering is best tailored to your desires.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Book your snapshot session:</h4>
                                    <h4 class="subheading">A portrait sitting for your soul</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A snapshot session is how we call the appointment where we sit with you to complete our state-of-the-art questionnaire. Just like how your physical appearance is expected to change, who you are inside changes and grows with time and experiences. Our snapshot session captures your personality at that point in time like a photograph, accurately reflecting who you are in that moment, and mapping all your facets to visual characteristics we call your visual descriptor profile.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Designing your portrait:</h4>
                                    <h4 class="subheading">From your visual profile to a masterpiece</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our studio creates fully abstract art pieces we call personality portraits. Your physical appearance plays no role in the design, instead we measure which visuals capture your vibes best. From colours, composition, textures, to painting techniques, over 40 descriptors inform the final look and feel of your art piece. We start by talking through your snapshot results with you, as we share our initial thoughts on colour palette and general design. Once the general direction is greenlit, we let our artists do what they do best. We do not take the trust given to us lightly, and thus it is our priority to combine accuracy with aesthetics in each design.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. Portrait completion:</h4>
                                    <h4 class="subheading">Skillfully hand-crafted, truly unique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All of our portraits are custom, created from scratch just for you, and 100% human-made down to the canvas itself. Each art piece comes with your visual descriptor profile (the results of the snapshot session), an artist's statement that highlights key design decisions made based on your results, and a certificate of authenticity. Due to the quality and bespoke nature of our art, each art piece will require at least a month to complete once the design is greenlit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Ready<br>to<br>ship!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>