<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our fields of expertise</h2>
                    <h3 class="section-subheading text-muted">Our studio specializes in producing art that is only possible through cross-domain collaboration.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fine Arts</h4>
                    <p class="text-muted"> Since we aim to create art about you, our artists are trained to expertly combine representational accuracy with each their unique tastes that brings your art piece to life. The heart of our art team is therefore in maximizing creativity by providing the conditions to energize and highlight our carefully selected artists' craft, skill, and eye in every piece.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Neuroscience & Psychology</h4>
                    <p class="text-muted">Our work is rooted in academia, but also through a decolonial lens. Our approach to personality mapping is scientifically rigorous, cross-cultural, and iterative.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Engineering</h4>
                    <p class="text-muted">Our team of software engineers are first and foremost creatives. We believe that software of scale is overrepresented, and in the same way we have mass-produced tables, we also have hand-carved tables. Software is the same, where it can be crafted in such a way that requires the human touch, and it shows through the tailored and sensitive nature of how we translate human personalities to something visual.</p>
                </div>
            </div>
        </div>
    </section>