<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Studio whims & whimsy</h2>
                    <h3 class="section-subheading text-muted">Why are we doing this</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        Exploring social connection, what makes art human, how we preserve traditional crafstmanship without freezing the skills in time, and the side of software engineering that connects us with our environment instead of isolating us from it; Sitôt is a space to bring this intersection to life.
                        <br><br>
                        Our current active research is interested in how our different senses connect with one another, and impact how we see ourselves, who we allow to define us, and what influences the many ways we make sense of others socially. 
                        <br>
                        We believe ambiguity and contradictions are part of the human experience, and we strive to bring a new way to see ourselves in all our complexities. 
                        <br><br>
                        Here are some questions that motivate the studio's research, particularly around visual representations of human characteristics: How much do we know about ourselves? What are our limitations in how we can convey who we are? In what ways do we form our understanding of ourselves based on others' perceptions? How does our language and its categorization of personality "traits" affect our view of others and ourselves? What are ways we can share defining parts of ourselves that go unspoken?
                        <br><br>
                        Our studio is the result of an artist-engineer leaving the big corporate world to build a space where no skill or interest inherently opposes one another. They were a palm-reader, and published machine learning researcher. A classical pianist, and anime convention coordinator. A technical program manager wrangling teams across 5 geographies, and comic artist managing newly disabling chronic illness. Sitôt is simply a continuation of this life-long intersectional journey of creativity, discipline, technical excellence, human connection, and whimsical fun.
                        <br><br><br><br>
                    </p>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>