<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Studio whims & whimsy</h2>
                    <h3 class="section-subheading text-muted">Why are we doing this</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        From inheriting palm reading from family traditions to publishing machine learning research papers, and building an engineering career at big tech corporations, two worlds that aggressively rejected one another seemed to collide within Sitôt's founder. However, nothing says that traditions and art are inherently unscientific, and nothing says we can't change the way we build software so that it can have the heart, creative process, and soul we understand and value in art.
                        <br>
                        Exploring social connection, what makes art human, and the side of software engineering that is not influenced by profit; Sitôt is a space to bring this intersection to life.
                        <br><br>
                        Here are some questions that motivate the studio's research, particularly around visual representations of human characteristics: How much do we know about ourselves? What are our limitations in how we can convey who we are? In what ways do we form our understanding of ourselves based on others' perceptions? How does our language and its categorization of personality "traits" affect our view of others and ourselves? What are ways we can share defining parts of ourselves that go unspoken?
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>