<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Studio Origins</h2>
                    <h3 class="section-subheading text-muted">A contemporary story of finding meaning</h3>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/team/founder-square.jpg" class="img-responsive img-circle" alt="">
                    <h4>Bringing something completely new to life</h4>
                    <p class="large text-muted">
                        Sitôt is a bit of a full circle moment.<br>
                        How do you go from being a classical music teacher, an artist, a palm-reader, to dropping it all to pursue software engineering? Taking a detour to work in HR, researching western approaches to conflict resolution, and personality-type-based team building? Meanwhile, becoming a published researcher, travelling to conferences across the world to present machine learning papers? And then committing a good couple of years to running global engineering teams at Microsoft just to realize... this ain't it.<br>
                        Indeed, our studio is born of our founder's unlikely collision of artistry, traditional chinese family lore, academia, and a whole corporate tech career. 
                        This has given us a unique perspective in how we approach software, how we think about its applications, and in the same way, our deep understanding of tech, AI, and its biases, has given us confidence in proposing our own respectful and human ways of using software in the realm of fine arts.<br>
                        The result is something we believe is special, and gives everyone involved in the process of creating our personality portraits a reason to care about the final art piece on a personal level, from the subject of our art (you!), to the many fields of expertise required along the way to make the portraits come to life.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4><br>Coming Soon</h4>
                    <h3 class="section-subheading text-muted">Areas of expansion on our roadmap</h3>
                </div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt=""-->
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">There is so much more we want to do. Every share and follow helps us build this momentum! <br>Thank you for being one of our first visitors, and we are manifesting being able to welcome you soon to our physical storefront!</p>
                </div>
            </div>
        </div>
    </section>